/* #fbffa7 
    #ff764d
    #b1c5ff
    #d5b3ff
    #b6ffc0
    #0000ff
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .left-header, .right-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav {
    padding: 20px;
    display: flex;
    gap: 22px;
}

a {
    text-decoration: none;
    font-size: large;
    color: black;
}

a:hover{
    color: #ff764d;
}

.orange{
    color: #ff764d;
}

a.Two {
    display: none;
}

a.blue{
    color: #0000ff;
}

/* Styling Hero section */

section .image {
    background-image: url("images/pexels-amar-19598320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 460px;
    margin: auto;
}

.image p{
    font-size: 90px;
}

/* styling about us section... */
.aboutUs {
    padding: 20px;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.aboutUs-text {
    width: 60%;
    margin: auto;
    line-height: 40px;
}

/* styling products section... */
.products {
    position: relative;
    height: 65vw;
}

.collage-background {
    background-color: #fbffa7;
    width: 56.33vw;
    height: 56.33vw;
    position: absolute;
    top: 0;
    left: 41.66667vw;
    z-index: -1;
}

.collage-one {
    background-image: url(images/pexels-infonautica-15053187.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 40.55vw;
    height: 40.55vw;
    margin-left: 8vw;
    z-index: 1;
    position: relative;
    top: 8vw;
}

.collage-two {
    width: 33.44vw;
    height: 26vw;
    background-image: url(images/pexels-jlimproject-7255396.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-left: 8vw;
    right: 8vw;
    top: 15vw;
}

.video {
    padding: 5vw;
}

iframe {
    display: block;
    margin: 0 auto;
}

.pageAboutPeople {
    padding: 8.33vw;
    position: relative;
}

.spearMint {
    width: 58.333vw;
    height: 75vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #b6ffc0; 
}

.collages {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.people1 {
    width: 33.333vw;
    height: 25vw;
    background-image: url(images/pexels-ruveyda-140435227-21294096.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.people2 {
    width: 33.333vw;
    height: 25vw;
    background-image: url(images/pexels-infonautica-15053187.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8.333vw;
}

.people3 {
    width: 41.6667vw;
    height: 41.6667vw;
    background-image: url(images/pexels-beyzaa-yurtkuran-279977530-15925081.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 20vw;
    right: 6vw;
}

.productsTwo {
    position: relative;
    padding: 10vw;
    margin-top: 10vw;
    margin-bottom: 20vw;
}

.productsTwo-bg {
    width: 66.667vw;
    height: 58.33vw;
    background-color: #d5b3ff;
    position: absolute;
    top: 0;
    left: 16.6667vw;
    z-index: -1;
}

.productsImg1{
    width: 33.3333vw;
    height: 25vw;
    background-image: url(images/pexels-infonautica-15053187.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: relative;
    top: 10vw;
    left: 1.00vw;
}

.productsImg2 {
    width: 46.333vw;
    height: 43.333vw;
    background-image: url(images/pexels-alexis-b-1699196-14008465.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 8vw;
    right: 0;
    z-index: 2;
}

.jobs {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
}

.jobsImg1 {
    width: 41.66667vw;
    height: 34.66667vw;
    background-image: url(images/pexels-ruveyda-140435227-21294096.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jobsImg2 {
    width: 41.66667vw;
    height: 34.66667vw;
    background-color: #B1C5FF;
    padding: 8vw;
}

.jobsImg2 .mainText {
    line-height: 40px;
}

a.latest {
    display: block;
    margin-top: 2vw;
    font-size: larger;
}

footer {
    border-top: 2px solid rgba(180, 178, 178, 0.432);
}

footer .icon {
    margin: 40px;
}

.upperFoot {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperFoot div {
    width: 35%;
}

.upperFoot div h2 {
    margin-bottom: 10px;
}

.upperFoot div p{
    line-height: 25px;
}

ul li {
    list-style: none;
    margin: 10px 0;
}

form input[type="email"]{
    padding: 10px;
    display: inline-block;
    margin: 0;
    background-color: gainsboro;
    color: grey;
    border: none;
}

form button {
    padding: 10px 25px;
    display: inline-block;
    margin: 0;
    background-color: #0000ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

footer .centerFoot {
    width: 80%;
    margin: auto;
}

.popUp {
    width: 100%;
    padding: 30px;
    display: none; 
}

.topLinks,h3 {
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.bottomContainer {
    display: flex;
}

.bottomContainer div p{
    line-height: 25px;
}